[phases.setup]
nixPkgs = ["python311Full", "ffmpeg"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    "python3 -m ensurepip --upgrade",
    "python3 -m pip install --upgrade pip",
    "cd comsigns-backend && python3 -m pip install -r requirements.txt"
]

[start]
cmd = "cd comsigns-backend && python3 -m uvicorn backend.api.app:app --host 0.0.0.0 --port ${PORT}"
