[phases.setup]
nixPkgs = ["python311Full", "python311Packages.pip", "python311Packages.virtualenv", "ffmpeg", "stdenv.cc.cc.lib"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    "python3 -m venv /app/venv",
    "/app/venv/bin/pip install --upgrade pip",
    "cd comsigns-backend && /app/venv/bin/pip install --no-cache-dir -r requirements.txt"
]

[variables]
LD_LIBRARY_PATH = "/root/.nix-profile/lib"

[start]
cmd = "cd comsigns-backend && /app/venv/bin/uvicorn backend.api.app:app --host 0.0.0.0 --port ${PORT}"
