[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "ffmpeg"]

[phases.install]
cmds = ["cd comsigns-backend && python3 -m pip install -r requirements.txt"]

[start]
cmd = "cd comsigns-backend && python3 -m uvicorn backend.api.app:app --host 0.0.0.0 --port ${PORT}"
